<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mi calculadora</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
	 
     <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery-3.5.0.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Calculadora simple</h1>
            <p class="lead">
                Ejemplo calculadora usando MVC con spring
            </p>
            <hr class="my-4" />
            <p>Introduce los datos solicitados</p>
            <div>
            <form action="#" th:action="@{/resultado}" th:object="${calcu}" method="post">
                 <p>Primer Numero: <input type="number" th:field="*{Num1}" class="form-control" /></p>
                 <p>Segundo Numero: <input type="number" th:field="*{Num2}" class="form-control" /></p>
                 <p>
                 Operacion:
                 <select th:field="*{operador}" class="form-control">
                 <option value="+">Suma (+)</option>
                 <option value="-">Resta (-)</option>
                 <option value="*">Multiplicacion (*)</option>
                 <option value="/">Division (/)</option>
                 </select>
                 </p>
                 <label class="text-center" th:text="'Resultado de '+ *{Num1}+ *{operador}+ *{Num2}+ '=' + *{res}"></label>
                 <p></p>
                 <p class="text-center"><input type="submit" value="Calcular"/> <input type="reset" value="Limpiar"/></p>
                 </form>
                
            </div>
            <hr class="my-4" />
            <div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <p>Desarrollo de Aplicaciones</p>
                        <p>ITSSNP 2022</p>
                        <p>Hissam Herrera Gómez</p>

                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
   

</body>
</html>